:root {
    --color-bg: #FFFFFF;
    --color-primary: #013966;
    --color-primary-dark: #9D0268;
    --color-accent: #9D0268;
    --color-accent-dark: #6A003F;
    --color-accent-darker: #D9D9D9;
    --color-border: #E9E9E9;
    --color-text: #333333;
    --color-text-light: #9D0268;
    --color-footer-bg: #013966;
    --color-footer-text: #D9D9D9;
    --color-footer-link: #FFFFFF;
    --color-footer-link-hover: #D9D9D9;
}

/* فونت‌ها */
@font-face {
    font-family: 'Vazirmatn';
    src: url('fonts/Vazirmatn-Regular.woff2') format('woff2'),
         url('fonts/Vazirmatn-Regular.woff') format('woff'),
         url('fonts/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazirmatn', Tahoma, Arial, sans-serif;
    direction: rtl;
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: var(--color-text);
    line-height: 1.6;
}

hr {
  width: 90%;
  border: 0.5px dashed #d9d9d9;
  margin-right: auto;
}

p {
  text-align: justify;
  line-height: 32px;
}

/* هدر */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-bg);
    padding: 14px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    margin-left: 5%;
}

.logo img {
    height: 54px;
    margin-left: 10px;
}

.logo a:hover {
    transform: None;
}

.hamburger-menu, .header-button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Vazirmatn';
}

.hamburger-menu {
    display: none;
    font-size: 32px;
}

.header-button {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 14px 24px;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* منو اصلی */
header nav {
  margin-right: 5%;
}

header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    flex-grow: 1;
}

header li {
    margin: 0 32px;
}

header a {
    display: inline-block;
    position: relative;
    color: var(--color-text);
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, transform 0.3s;
}

header a:hover {
    color: var(--color-primary);
    transform: scale(1.1);
}

header i {
    display: flex; /* استفاده از فلکس برای مرکزیت عمودی و افقی */
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%; /* تبدیل به دایره */
    background-color: #f5f5f5;
    color: var(--color-primary);
    margin-left: 6px;
}

/* قهرمان (Hero) */
.hero {
    position: relative;
    background-image: url('../img/header-banner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
    max-width: 860px;
}

.hero h2 {
    font-size: 2.8em;
    margin-top: 62px;
    margin-bottom: 48px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.hero p {
    font-size: 2em;
    margin-bottom: 92px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.hero .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 64px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    z-index: 2;
    border: none;
    transition: background-color 0.3s;
}

.hero .btn .icon {
    font-size: 1.8rem;
    margin-bottom: 14px;
}

.hero .btn.primary {
    background-color: rgba(0, 123, 255, 0.8);
}

.hero .btn.primary:hover {
    background-color: rgba(0, 123, 255, 1);
}

.hero .btn.secondary {
    background-color: rgba(248, 249, 250, 0.8);
    color: #111;
}

.hero .btn.secondary:hover {
    background-color: rgba(248, 249, 250, 1);
}

/* محصولات */
.products {
    padding: 40px 0;
    background-color: var(--color-bg);
    margin: 0 5%;
}

.products h2 {
    text-align: right;
    margin-bottom: 20px;
    color: var(--color-text); /* رنگ اصلی هماهنگ با درباره شرکت */
}

.view-options {
    text-align: left;
    margin-bottom: 20px;
}

.btn-view {
    background-color: var(--color-neutral);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 0.875rem;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-view img {
    width: 24px; /* سایز مناسب برای آیکون‌ها */
    height: auto;
}

.btn-view:active {
    background-color: var(--color-accent-dark);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.product-images button {
    background-color: rgba(255, 255, 255, 0.4); /* پس‌زمینه سفید نیمه‌شفاف */
    border: none;
    color: var(--color-primary); /* رنگ متن دکمه‌ها */
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.product-card {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 18px;
    text-align: center;
    transition: box-shadow 0.3s;
}

.product-card a {
  text-decoration: none;
  color: var(--color-primary);
  padding: 12px 16px;
  border-radius: 24px;
  background: #f5f5f5;
}

.product-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* نمایش کامل تصویر */
    display: block; /* حذف فضای خالی زیر تصویر */
}

.product-carousel img:first-child {
    display: block; /* نمایش اولین تصویر به طور پیش‌فرض */
}

.product-carousel button {
    position: absolute;
    top: 50%;
    background: rgba(244, 244, 244, 0.75);
    color: #555;
    border: none;
    padding: 8px 11px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.product-carousel .prev {
    left: 0;
}

.product-carousel .next {
    right: 0;
}

.product-card a:hover {
  color: #ffffff;
  background: var(--color-primary);
}

.product-card h3 {
    color: var(--color-text); /* رنگ هماهنگ با درباره شرکت */
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    /* max-height: 100%; */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .prev-page,
.pagination .next-page {
    background-color: var(--color-accent);
    color: var(--color-bg);
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.pagination .prev-page:hover,
.pagination .next-page:hover {
    background-color: var(--color-primary);
}

.product-card hr {
    margin-top: 24px;
    width: 100%;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.chips {
    background-color: #f9f9f9;
    border: 1px solid #f5f5f5;
    color: var(--color-primary);
    padding: 9px 16px;
    border-radius: 24px;
    font-size: 12px;
    margin-top: 2px;
}

.show-button {
    background-color: #ffffff;
    color: #013966;
    border: 1px dashed #013966;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 28px;
    width: 100%;
    cursor: pointer;
    font-family: 'Vazirmatn';
}

.show-button:hover {
  background-color: #4091c3;
  color: var(--color-bg);
  border: none;
}

/* مزایای محصولات */
.benefits {
    background: linear-gradient(45deg, #013966, #4091c3, #013966);
    padding: 72px 0;
}

.benefits h2 {
    text-align: center;
    margin-bottom: 48px;
    color: var(--color-bg);
}

.benefits-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.benefit-item {
    background-color: var(--color-bg);
    color: var(--color-primary);
    border-radius: 12px;
    padding: 38px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.benefit-item i {
    font-size: 48px;
    color: #4091c3;
}

/* درباره ما */
.about {
    padding: 48px 5%;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 82px;
    line-height: 36px;
    vertical-align: top;
    text-align: justify;
    font-size: 16px;
}

.about-content img {
    width: 280px;
    height: auto;
}

/* وبلاگ */
.blog {
    background-color: var(--color-bg);
    padding: 40px 0;
}

.blog h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primary);
}

.blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    margin-top: 28px;
}

.blog-item {
    background-color: var(--color-bg);
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 calc(25% - 16px);
    box-shadow: none;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: right;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    border: 1px solid #e9e9e9;
    margin-bottom: 18px;
}

.blog-item:hover {
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.blog-item img {
    width: 100%;
    height: 200px; /* ارتفاع ثابت برای تصاویر */
    object-fit: cover; /* پر کردن کامل فضای عنصر و جلوگیری از کشیدگی */
    display: block; /* حذف فضای اضافی زیر تصویر */
}

.blog-content {
    padding: 16px;
    flex: 1; /* برای استفاده از فضای باقی‌مانده */
    display: flex;
    flex-direction: column;
}

.blog-content h4 {
    margin-bottom: 0; /* حذف فاصله پایین از عنوان */
    margin-top: 6px; /* فاصله از بالا */
    font-size: 18px;
    text-align: right;
    direction: rtl;
}

.blog-content p {
    font-size: 14px;
    margin-bottom: 16px;
    text-align: justify;
    direction: rtl;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* محدود کردن به ۲ خط */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* نمایش "..." در انتهای متن طولانی */
}

.read-more {
    font-family: 'Vazirmatn';
    font-size: 14px; /* تنظیم اندازه فونت دکمه به اندازه فونت متن */
    color: var(--color-primary);
    border: none;
    padding: 8px 18px; /* افزایش ارتفاع و عرض دکمه */
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: flex; /* برای مرکزچین کردن عمودی متن */
    align-items: center; /* مرکزچین عمودی متن */
    justify-content: center; /* مرکزچین افقی متن */

}

.read-more:hover {
    background-color: var(--color-accent-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* نظرات مشتریان */
.testimonials {
    background-color: var(--color-accent-darker);
    padding: 40px 0;
}

.testimonials-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.testimonials-grid {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;
}

.testimonial-item {
    flex: 0 0 auto;
    width: 300px; /* یا عرض دلخواه شما */
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1;
}

.testimonials h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-bg);
}

.testimonials-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.testimonial-item {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    color: var(--color-text);
}

.rating {
    margin-top: 10px;
}

.rating i {
    color: #f39c12;
}

/* تیم ما */
.team {
    padding: 40px 0;
}

.team h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primary);
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-member {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.team-member img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

/* فرم تماس */
.appointment {
    background-color: var(--color-bg);
    padding: 40px 0;
}

.appointment form {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--color-accent-darker);
    padding: 20px;
    border-radius: 8px;
}

.appointment form label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-text);
}

.appointment form input,
.appointment form select,
.appointment form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    box-sizing: border-box;
}

.appointment form button {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.appointment form button:hover {
    background-color: var(--color-accent-dark);
}

/* فوتر */
footer {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: var(--color-footer-link);
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--color-footer-link-hover);
}

.footer-copyright {
    margin-top: 10px;
    font-size: 14px;
}

/* ریسپانسیو */
@media (max-width: 991px) {
    .hamburger-menu {
        display: block;
    }
    nav ul {
        display: none;
    }
    .header-button {
        display: none;
    }
    nav ul.open {
        display: block;
        background-color: var(--color-bg);
        position: absolute;
        top: 64px;
        right: 0;
        width: 100%;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }
    nav ul li {
        text-align: center;
        margin: 10px 0;
    }
    .hero {
        text-align: center;
        padding: 20px;
    }
    .hero h2 {
        font-size: 1.8em;
    }
    .hero p {
        font-size: 1.4em;
    }
    .product-grid {
        flex-direction: column;
        align-items: center;
    }
    .blog-item {
        width: 100%;
        margin-bottom: 20px;
    }
}
